@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #a9a0a078;
}

/* Header style starts */
.header_main {
    position: fixed;
    width: 100%;
    height: 140px;
    top: 0;
    left: 0;
    z-index: 99999;
    padding: 5px;
    /* background-color: #cccccc47; */
    /* background-color: #70a68573; */
    background-color: #70a685bd;
    border-bottom: 2px solid #70a685;
    /* display */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header_main div {
    /* border: 1px solid #000; */
}

/* hamberg style starts */
.hambergbox {
    padding: 10px;
    height: auto;
    display: flex;
    width: 25%;
    justify-content: end;
    align-items: center;
}

.hamdisplay {
    display: none;
}

.hamberg {
    padding: 5px;
    /* border: 2px solid #5f815f; */
    border-radius: 3px;
    height: 24px;
    width: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
    position: relative;
}

.hamberg .bars {
    display: block;
    padding: 2px;
    /* background-color: #5f815f; */
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0 0 0/30%);
    transition: 1s;
}

/* hamberg style ends */

/* navbar starts here */
.navbox {
    width: 75%;
    height: auto;
}

.navbar {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-family: 'DynaPuff', cursive;
}

/* navbar icon */
#navicon {
    margin-right: 5px;
    display: inline-block;
    transition: 0.5s;
}
.navbar li:hover #navicon {
    transform: rotate(360deg);
    /* animation: chakra 1s linear 0s infinite normal; */
    color: #fff;

}

/* navbar icon end */
.navbar li {
    padding: 0;
    margin: 0;
}

.navbar li a {
    display: block;
    width: auto;
    padding: 8px 15px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.5s;
    /* background-color: #00cff8; */
}

.navbar li a:hover {
    background-color: #70a685;
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0 0 0/30%);
}

.navbar li a:hover #navicon i {
    transform: rotate(360deg);
    /* display: none; */
}

/* active anchor */
.active {
    background-color: #70a685;
    color: #fff;
    margin-left: 20px;
    border: 1px solid #fff;
}

.active #navicon {
    margin: 0px;
    width: 65px;
    text-align: center;
}

/* navbar ends */

/* icon images */
.icon {
    border: 2px solid #5f815f;
    /* background-color: #fff; */
    background-color: #70a685;
    height: 175px;
    width: 175px;
    padding: 5px;
    border-radius: 8px;
    position: absolute;
    top: 30%;
    left: 5%;
    box-shadow: 0px 0px 10px rgba(0 0 0/40%);
    /* transition: 1.5s; */
}

.icon:hover {
    /* transform: rotate(-360deg); */
    animation: hang 5s linear 0s infinite normal;
}

@keyframes hang {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.icon img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

/* chkra */
.header_main .chakra {
    position: absolute;
    color: #fff;
    font-size: 80px;
    left: 12px;
    top: 12px;
    animation: chakra 7s linear 0s infinite normal;
    z-index: -1;
}

@keyframes chakra {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* Header style ends */

/* latkan starts */
.latkan {
    width: 100%;
    padding: 30px;
    /* border: 1px solid #5f815f; */
    position: fixed;
    top: 97px;
    display: flex;
    justify-content: space-around;
    z-index: 888;
}

.latkan .circle {
    display: block;
    width: 15px;
    height: 15px;
    padding: 10px;
    border: 1px solid #fff;
    background-color: #70a685;
    border-radius: 100%;
    position: relative;
    animation: lat 4s linear 0s infinite normal;
}

@keyframes lat {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.latkan .circle .rod {
    display: block;
    position: absolute;
    top: 90%;
    left: 35%;
    height: 40px;
    width: 5px;
    background-color: #70a685;
    color: #70a685;
    font-size: 28px;
}

.latkan .circle .rod i {
    position: absolute;
    bottom: -60%;
    right: -230%;
    animation: lat 6s linear 0s infinite normal;
}
/* latkan ends */



/* main content box starts here */
.main-introbox {
    margin-top: 145px;
    /* border: 1px solid #5f815f; */
    padding: 120px;
    display: grid;
    grid-template-areas: 'infobx2 infobx1';
    grid-template-columns: 1fr 1fr
}

.infobox-1 {
    grid-area: infobx1;
    /* padding: 20px; */
    /* border: 1px solid #5f815f; */
}

.infobox-1 .text-box {
    height: 350px;
    /* border: 1px solid #5f815f; */
    box-shadow: 0px 0px 15px rgba(0 0 0/30%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #70a6858f;
    padding: 20px;
    display: flex;
    align-items: center;
    color: #000;
}

.infobox-1 .text-info {
    width: 100%;
    /* border: 1px solid #5f815f; */
    letter-spacing: 0.4px;
    text-shadow: 4px 2px 5px rgb(0 0 0 / 40%);
}

.infobox-1 .text-info h1 {
    font-size: 80px;
    /* color: #5f815f; */
}

.infobox-1 .text-info h2 {
    font-size: 45px;
    /* color: #5f815f; */
    margin-top: 8px;
}

.infobox-1 .text-info p {
    font-size: 20px;
    /* color: #5e846d; */
    margin-top: 4px;
}

.infobox-2 {
    width: 100%;
    grid-area: infobx2;
    /* padding: 20px; */
    /* border: 1px solid #5f815f; */
}

.infobox-2 .information {
    width: 100%;
    height: 350px;
    padding: 15px;
    box-shadow: 0px 0px 15px rgba(0 0 0/30%);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    letter-spacing: 0.4px;
    gap: 0px;
}

.infobox-2 .animtextbox {
    /* border: 1px solid #5f815f; */
    width: 100%;
}

.infobox-2 .animtextbox h1 {
    font-size: 30px;
    color: #000;
    margin-top: 50px;
    text-shadow: 4px 2px 5px rgb(0 0 0 / 40%);
}

.infobox-2 .animtextbox span {
    font-size: 60px;
    /* color: #5f815f; */
    color: #70a685e6;
    margin-top: 50px;
    line-height: 95px;
    text-shadow: 4px 2px 5px rgb(0 0 0 / 20%);
}

/* resume btn */
.infobox-2 .resumebtn {
    /* border: 1px solid #5f815f; */
    width: 100%;
}
.infobox-2 .resumebtn a {
    display: block;
    width: 200px;
    margin-top: 10px;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #70a685e6;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0px 0px 10px rgba(0 0 0/30%);
    transition: 0.5s;
}

.infobox-2 .resumebtn a:hover {
    background-color: #70a685;
    box-shadow: 8px 5px 14px 0px rgb(0 0 0 / 40%);
}
.infobox-2 .resumebtn .rsmicon {
    margin-right: 10px;
}

/* main content ends */

/* decoration section */
.decoration {
    /* border: 1px solid #5f815f; */
    padding: 20px;
    color: #5f815f;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.decoration span {
    animation: chakra 1.5s linear 0s infinite normal;
}
/* decoration ends */

/* about section style starts */
.about {
    /* height: 400px; */
    width: 100%;
    padding: 120px;
    /* border: 1px solid #5f815f; */
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    font-size: 22px;
}

/* .about span {
    position: absolute;
    top: 20%;
    right: 8.7%;
    font-size: 30px;
    color: #5f815f;
    animation: chakra 1.5s linear 0s infinite normal;
} */

.about p {
    display: block;
    width: 170px;
    background-color: #70a685;
    color: #fff;
    text-shadow: 4px 2px 5px rgb(0 0 0 / 40%);
    text-align: center;
    letter-spacing: 0.4px;
    border: 1px solid #5f815f;
    border-radius: 8px;
    padding: 7px;
    /* font-size: 22px; */
    position: absolute;
    top: 15.5%;
    left: 12%;
    box-shadow: 0px 0px 15px rgba(0 0 0/30%);
}

.about .aboutme {
    border: 1px solid #5f815f;
    background-color: #70a68580;
    border-radius: 8px;
    padding: 30px;
    /* height: 400px; */
    box-shadow: 0px 0px 15px rgba(0 0 0/30%);
}

.about .aboutme .aboutsec {
    /* border: 1px solid #5f815f; */
    margin-top: 25px;
    padding: 10px;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 25px;
    text-shadow: 4px 2px 5px rgb(0 0 0 / 20%);
}

.about .aboutme .aboutsec li {
    margin-top: 20px;
}

/* about style ends */

/* education section starts */

.infobox-1 .text-box ul {
    line-height: 25px;
    margin: 15px;
    font-size: 15px;
    width: 100%;
    letter-spacing: 0.5px;
    text-shadow: 4px 2px 5px rgb(0 0 0 / 20%);
}

.infobox-1 .text-box ul li {
    margin-top: 8px;
}

.infobox-2 .information .edutable {
    height: 250px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border: 2px solid #ffffffeb;
    border-spacing: 0px;
    font-size: 18px;
    border-radius: 4px;
    letter-spacing: 0.5px;
    text-shadow: 4px 2px 5px rgb(0 0 0 / 20%);
}

.infobox-2 .information .edutable tr, th, td {
    background-color: #70a6858f;
    border: 1px solid #fff;
}

/* education ends */




/* responsive for mobile view */
@media only screen and (max-width: 1024px) {
    .header_main {
        height: auto;
        width: 100%;
        background-color: #70a685e3;
    }

    /* hamberg */
    .hamdisplay {
        display: block;
        height: auto;
    }

    /* icon image */
    .icon {
        height: 90px;
        width: 75%;
        border: none;
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
        position: initial;
    }

    .icon:hover {
        animation: none;
    }

    .icon img {
        height: 80%;
        width: 65px;
        margin: 10px;
        border-radius: 100%;
        border: 4px solid #fff;
        box-shadow: 0px 0px 15px rgba(0 0 0/30%);
    }

    /* navbar  */
    .navbox {
        width: 100%;
        display: none;
    }

    .navbar {
        width: 100%;
        font-size: 12px;
    }

    .navbar li {
        width: 100%;
    }

    .navbar li:nth-child(1) {
        border-top: 1px solid #5f815f;
    }

    .active {
        margin-left: 0px;
        margin-top: 20px;
        text-align: center;
    }

    /* navbar ends */

    /* latkan starts */
    .latkan {
        /* top: 60px; */
        display: none;
    }

    /* main content box starts here */
    .main-introbox {
        margin-top: 140px;
        padding: 10px;
        grid-template-areas: 'infobx1' 'infobx2';
        grid-template-columns: 1fr;
    }

    .infobox-1 .text-box {
        height: fit-content;
        border: 1px solid #5f815f;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .infobox-1 .text-info h1 {
        font-size: 50px;
        /* color: #5f815f; */
    }
    
    .infobox-1 .text-info h2 {
        font-size: 32px;
        /* color: #5f815f; */
        margin-top: 8px;
    }
    
    .infobox-1 .text-info p {
        font-size: 12px;
        /* color: #5e846d; */
        margin-top: 8px;
    }

    .infobox-2 .information {
        height: fit-content;
        border: 1px solid #5f815f;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .infobox-2 .animtextbox h1 {
        font-size: 20px;
    }

    .infobox-2 .animtextbox span {
        font-size: 30px;
    }

    /* resume button */
    .infobox-2 .resumebtn a {
        width: 140px;
        font-size: 12px;
        padding: 8px 15px;
    }
    /* main content ends */

    /* decoration */
    .decoration {
        font-size: 15px;
    }
    /* decoration ends */

    /* about section starts */
    .about {
        padding: 10px;
        font-size: 13px
    }

    .about p {
        top: -0.3%;
        left: 8%;
        padding: 5px;
        width: 105px;
    }

    .about .aboutme {
        padding: 16px;
    }

    .about .aboutme .aboutsec {
        font-size: 12px;
        padding: 5px;
    }
    /* about ends *//* education section starts */

    .infobox-1 .text-box ul {
        font-size: 12px;
    }

    .infobox-2 .information .edutable {
        font-size: 12px;
        height: 200px;
    }
}